certifi==2024.8.30
charset-normalizer==3.4.0
dnspython==2.7.0
idna==3.10
pymongo==4.10.1
requests==2.32.3
urllib3==2.2.3
tree-sitter==0.23.2
# tree-sitter==0.21.3
tree-sitter-bash==0.23.1
tree-sitter-c==0.23.1
tree-sitter-cpp==0.23.1
tree-sitter-css==0.23.0
tree-sitter-fluentbit==0.1.0
tree-sitter-formatter==0.1.0.dev2
tree-sitter-fortran==0.2.0
tree-sitter-glsl==0.1.9
tree-sitter-go==0.23.1
tree-sitter-gstlaunch==0.1.0
tree-sitter-haskell==0.23.0
tree-sitter-hlsl==0.1.5
tree-sitter-hlsplaylist==0.0.5
tree-sitter-html==0.23.0
tree-sitter-idl==3.9.2
tree-sitter-java==0.23.2
tree-sitter-jsdoc==0.23.0
tree-sitter-json==0.24.1
tree-sitter-julia==0.23.0
tree-sitter-kotlin==1.0.1
tree-sitter-languages==1.10.2
tree-sitter-php==0.23.5
tree-sitter-python==0.23.2
tree-sitter-ruby==0.23.0
tree-sitter-rust==0.23.0
tree-sitter-toml==0.6.0
tree-sitter-typescript==0.23.0
tree-sitter-yaml==0.6.0
